#calendar-container {
  margin-top: 20px;
  width: 100%;
  max-width: 48.5rem; /* Main website compatible width */
  text-align: center;
  background-color: var(--background-secondary-lm);
  color: var(--text-primary-lm);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#calendar-container .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

#calendar-container .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  background-color: var(--background-primary-lm);
  border: 1px solid var(--background-secondary-lm);
  padding: 10px;
}

#calendar-container .calendar-cell {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--background-secondary-lm);
  background-color: var(--background-secondary-lm);
  transition: background-color 0.3s;
}

#calendar-container .calendar-cell:hover {
  background-color: var(--button-hover-lm);
  color: var(--button-text-lm);
}

#calendar-container .event {
  color: var(--button-background-lm);
  font-size: 0.8rem;
  font-weight: bold;
}
