/* Global variables as defined in Frontend-System-Design.md */
/* Use root variables in other css files. Dark mode class allows us to toggle theme */

:root {
    --font-primary: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --background-primary-lm: #F7FAFC;
    --background-secondary-lm: #E2E8F0;
    --button-background-lm: #2B6CB0;
    --button-hover-lm: #2C5282;
    --text-primary-lm: #1A202C;
    --button-text-lm: #F7FAFC;
    --focus-outline-lm: #3182CE;
}

.darkMode {
    --background-primary-lm: #1A202C;
    --background-secondary-lm: #2D3748;
    --button-background-lm: #63B3ED;
    --button-hover-lm: #4A9AD4;
    --text-primary-lm: #F7FAFC;
    --button-text-lm: #1A202C;
    --focus-outline-lm: #63B3ED;
}