<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="../static/css/404.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <header>
        <h1>404 - Page Not Found</h1>
    </header>
    <main>
        <p>Oops! The page you’re looking for doesn’t exist. </p>
        <gifContainer>
            <img src="https://media.giphy.com/media/C21GGDOpKT6Z4VuXyn/giphy.gif" alt="Error 404 Gif" width="480" height="270">
        </gifContainer>
        <a href="/">Return to Home</a>
    </main>
    <footer>
        &copy; 2024 Team Two Good - UC San Diego. All rights reserved.
    </footer>
</body>
</html>
