<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Command Center</title>
</head>

<body>
    <navbar>
        <basicControls>
            <input type="checkbox" id="theme-toggle" />
            <label for="theme-toggle" class="theme-button">
                Toggle Theme
                <img src="{{ url_for('static', filename='assets/icons/lightmode.svg') }}" alt="theme" class="theme-icon" />
            </label>
            <button class="logout-btn">Sign out</button>
        </basicControls>
        <hgroup>
            <header>
                <h1>FireStack</h1>
            </header>
            <nav>
                <!-- Hidden checkbox to toggle menu -->
                <input type="checkbox" id="menu-toggle" />
                <!-- Menu Button -->
                <label for="menu-toggle" class="menu-button">
                    <img src="{{ url_for('static', filename='assets/navbar/menu.svg') }}" alt="menu" class="menu-icon" />
                </label>
                <!-- Navigation Items -->
                <ul>
                    <li class="navlink">
                        <a href="#todo">
                            <img src="{{ url_for('static', filename='assets/icons/list.svg') }}" class="icon" alt="Home">
                            To-Do List
                        </a>
                    </li>
                    <li class="navlink">
                        <a href="#calendar">
                            <img src="{{ url_for('static', filename='assets/icons/calendar.svg') }}" class="icon" alt="Courses">
                            Calendar
                        </a>
                    </li>
                    <li class="navlink">
                        <a href="#deadlines">
                            <img src="{{ url_for('static', filename='assets/icons/alert.svg') }}" class="icon" alt="Career">
                            Deadlines
                        </a>
                    </li>
                    <li class="navlink">
                        <a href="#career">
                            <img src="{{ url_for('static', filename='assets/icons/briefcase.svg') }}" class="icon" alt="Projects">
                            Career Tracker
                        </a>
                    </li>
                </ul>
            </nav>        
        </hgroup>
    </navbar>
    <main>
        <todo id="todo">
            <h2>To-Do List</h2>
        </todo>
        <cal-group>
            <calendar id="calendar">
                <h2>Calendar</h2>
            </calendar>
            <deadlines id="deadlines">
                <h2>Upcoming Deadlines</h2>
            </deadlines>
        </cal-group>
        <career id="career">
            <h2>Career Tracker</h2>
        </career>
    </main>
    <footer>
        <a href="/privacy" class="privacy">View Privacy Policy.</a>
        &copy; 2024 Team Two Good - UC San Diego. All rights reserved.
    </footer>

    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>

</html>