<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Command Center</title>
</head>

<body>
    <basicControls>
        <input type="checkbox" id="theme-toggle" />
        <label for="theme-toggle" class="theme-button">
            Toggle Theme
            <img src="{{ url_for('static', filename='assets/icons/lightmode.svg') }}" alt="theme" class="theme-icon" />
        </label>
        <button class="logout-btn">Sign out</button>
    </basicControls>
    <hgroup>
        <header>
            <h1>Your Command Center</h1>
        </header>
        <nav>
            <!-- Hidden checkbox to toggle menu -->
            <input type="checkbox" id="menu-toggle" />
            <!-- Menu Button -->
            <label for="menu-toggle" class="menu-button">
                <img src="{{ url_for('static', filename='assets/navbar/menu.svg') }}" alt="menu" class="menu-icon" />
            </label>
            <!-- Navigation Items -->
            <ul>
                <li class="tooltip">
                    <img src="{{ url_for('static', filename='assets/icons/home.svg') }}" class="icon" alt="Home">
                    <span class="text">Overview</span>
                    <span class="tooltiptext">A quick summary view of all subpages</span>
                </li>
                <li class="tooltip">
                    <img src="{{ url_for('static', filename='assets/icons/gradcap.svg') }}" class="icon" alt="Courses">
                    <span class="text">Course Central</span>
                    <span class="tooltiptext">Track your homework, assignments, and to-dos</span>
                </li>
                <li class="tooltip">
                    <img src="{{ url_for('static', filename='assets/icons/briefcase.svg') }}" class="icon" alt="Career">
                    <span class="text">Career Compass</span>
                    <span class="tooltiptext">Monitor internship applications and career growth tools</span>
                </li>
                <li class="tooltip">
                    <img src="{{ url_for('static', filename='assets/icons/beaker.svg') }}" class="icon" alt="Projects">
                    <span class="text">Project Board</span>
                    <span class="tooltiptext">Organize personal projects and track next steps</span>
                </li>
            </ul>
        </nav>        
    </hgroup>
    <main>
        <todo>
            <h2>To-Do List</h2>
        </todo>
        <cal-group>
            <calendar>
                <h2>Calendar</h2>
                <div id="calendar-container"></div>
            </calendar>
            <deadlines>
                <h2>Upcoming Deadlines</h2>
            </deadlines>
        </cal-group>
        <career>
            <h2>Career Tracker</h2>
        </career>
    </main>
    <footer>
        &copy; 2024 Team Two Good - UC San Diego. All rights reserved.
    </footer>

    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/Calendar.js') }}"></script>
    
</body>

</html>