<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signIn.css">
    <title>Sign In</title>
</head>

<body>
    <main>
        <returnCard>
            <h1>Welcome</h1>
            <p>Sign up or log in using your Google account to continue.</p>
            <button class="signin-btn">
                <img src="../../assets/icons/google.svg" alt="Google Logo" class="google-icon">
                Sign in with Google
            </button>
        </returnCard>
    </main>
    <footer>
        &copy; 2024 Team Two Good - UC San Diego. All rights reserved.
    </footer>

    <script type="module" src="{{ url_for('static', filename='js/signIn.js') }}"></script>

</body>

</html>